.printCheckBox {
  display: inline-block;
  margin: auto;
}
.taskContent {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */

  gap: 1rem;
  padding: 0.5rem;
}

.taskDelete {
  display: inline-block;
  margin-left: auto;
}
