.printCheckBox {
  display: inline-block;

  overflow: hidden;
}
.taskContent {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
}

.taskDelete {
  display: inline-block;
  margin-left: auto;
}
.trashIcon {
  background-color: white;
  background-repeat: no-repeat;
  /* stroke: transparent; */
  stroke-width: 0px;
}

.deleteButton {
  outline: 0;
  border: 0;
}
