.dashboard {
  display: flex;
  flex-direction: row;
}

.tasks {
  background-color: white;
  flex: 7;
  padding: 1rem;
  overflow-y: scroll;
  min-width: 500px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  flex: 3;
  padding: 0.3rem;
  margin: 0rem auto;
}

.form h3 {
  padding: 0.5rem;
}
.button-print {
  font-size: 14;
  position: relative;
  left: 7rem;
  width: 55%;
  height: 3rem;
  margin-left: 0rem auto;
  padding: 0.2rem;
  border-radius: 5px;
  background-color: orange;
}
